<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Language:</b>
  <%= @user.language %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Date Of Birth:</b>
  <%= @user.date_of_birth %>
</p>

<p>
  <b>Nationality:</b>
  <%= @user.nationality %>
</p>

<p>
  <b>Blurb:</b>
  <%= @user.blurb %>
</p>


<%= link_to 'Edit', edit_account_path %>
